/* body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
.card-title{
    font-family: 'Ninja Naruto', sans-serif;
    
}

/* Toggle Switch Start */
.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}


.toggle-label {
    margin: 0 0.5% 0 0.5%;
}

.toggle-button {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #3498db;
    border-radius: 50%;
    transition: 0.4s;
}

.toggle-input {
    display: none;
}

.toggle-input:checked + .toggle-button .toggle-slider {
    left: 50%;
}

.hide {
    display: none;
}
/* Toggle Switch End */
.to-top {
    color: #fff;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
}
@media only screen and (max-width: 480px) {
    .to-top.active {
        bottom: 32px;
        pointer-events: auto;
        opacity: 1;
        z-index: 1000;
        right: 35%;
    }
}
.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
    z-index: 1000;
    right: 5%;
}

.to-top:hover {
    color: #fff;
    text-decoration: none;
}

main{
    margin-bottom: 2rem;
}

.footer {
    display: block;
    background-color:#2193b0;
    text-align: center;
    padding: 10px 0 5px 0;
    margin-top: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.footer a span{
    color: #062d9b;
}

@media screen and (max-width:500px) {
    .footer{
        font-size: 14px;
        font-weight: 400;   
    
    }
  } 


  .link{
    border-radius: 30px;
    transform: scale(1);
    transition: transform ease-in-out 0.5s,background-color ease-in-out 0.4s;
    transition-property: scale background-color;
  }

  .link:hover{
    transform: scale(1.07);
    transition: transform ease-in-out 0.,background-color ease-in-out 0.4s;
  }

  .darkmodebutton{
    transition: all ease-in-out 0.7s;
  }
  .darkmodebutton:hover{
    box-shadow: white  0 0 20px;
    transition: all ease-in-out 0.7s;

  }
