@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&family=Fredoka+One&display=swap');

*{
  font-family: 'Source Sans Pro', sans-serif;
}

body{
  
  background-color: #fdc355;
  background-image: url(./Images/icon.png);
  background-repeat: repeat;
}


.brand1{
    font-size:40px;
    font-weight: bolder;
    text-shadow:1px blue;
}

.nav1{
    background-color: black;
}

.nav-link{
  font-weight:900;
  color: #fdf4af !important;
}

.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: black;
    /* text-shadow:2px 4px 4px yellow; */
    /* text-decoration: underline; */
}



img{
   object-fit: contain;
}
.card-bg{
    background-color: #fdf4af;
}

.card-body>*{
  font-family: 'Alata', sans-serif;  
}


h2{
    color: black;
}

/*about*/


#about{
  background-color: #fff3b0;
  text-align: center;
  font-size: 20px;
  color: black;
}

h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 2%;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}