body{
    background-image: radial-gradient(blue,violet);
}
/* Light mode */
/* body {
  background: #fff;
  color: #000;
} */
body.darkmode{
  background: black;
}
p.aboutcolor{
  color:white;
}
body.aboutdarkmode{
  background: black;
  color: #ffffff;
}
body.lightmode{
  background: radial-gradient(blue,violet);
}
.brand1{
    font-size:40px;
    font-weight: bolder;
    text-shadow:1px blue;
}
.nav1{
    background-color: black;
}
.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow:2px 4px 4px yellow;
    text-decoration: underline;
}
img{
   object-fit: contain;
}
.card-bg{
    background-color: rgb(174, 184, 86);
}
h2{
    color: black;
}
/*about*/
#para {
  text-align: center;
  font-size: 20px;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 2%;
}
.card{
    overflow:scroll;
}


.card img:hover{
    transform:scale(1.1);
    transition:all 0.3s ease-out;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}
