
body{
    background-image: radial-gradient(blue,violet);
}

.search{
  position: relative;
  left: 200px;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 60px;
  transition: 0.5s;
  box-shadow: 0 0 0 5px black;
  overflow: hidden;
}

 .activated{
  width: 360px;
}

.search .icon
{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.search .icon::before{
  content: ' ';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #287dfc;
  border-radius: 50%;
  transform: translate(-4px,-4px);
}
.search .icon::after{
  content: ' ';
  position: absolute;
  width: 3px;
  height: 12px;
  background: #287dfc;
  transform: translate(6px,6px) rotate(315deg);
}

.search .input{
  position: relative;
  width: 300px;
  height: 60px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .input input{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 18px;
}

.clear{
  position: absolute;
  top: 38%;
  transform: translate(-50%);
  /* border: 2px solid red; */
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.clear::before{
  position: absolute;
  content: ' ';
  width: 1px;
  height: 15px;
  background:#999;
  transform: rotate(45deg);
}
.clear::after{
  position: absolute;
  content: ' ';
  width: 1px;
  height: 15px;
  background:#999;
  transform: rotate(315deg);
}

.brand1{
    font-size:40px;
    font-weight: bolder;
    text-shadow:1px blue;

}
.nav1{
    background-color: black;
}
.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow:2px 4px 4px yellow;
    text-decoration: underline;
}
img{
   object-fit: contain;
}
.card-bg{
    background-color: rgb(174, 184, 86);
}
h2{
    color: black;
}
/*about*/
#para {
  text-align: center;
  font-size: 20px;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 2%;
  color:white;
  font-weight:normal;
}
.card{
    overflow: clip;
}


.card img:hover{
    transform:scale(1.1);
    transition:all 0.3s ease-out;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }

}
.card h2{
  color:#dc3545;
}
body{
    background-image: radial-gradient(blue,violet);
}
/* Light mode */
/* body {
  background: #fff;
  color: #000;
} */
body.darkmode{
  background: black;
}
p.aboutcolor{
  color:white;
}
body.aboutdarkmode{
  background: black;
  color: #ffffff;
}
body.lightmode{
  background: radial-gradient(blue,violet);
}
.brand1{
    font-size:40px;
    font-weight: bolder;
    text-shadow:1px blue;
}
.nav1{
    background-color: black;
}
.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow:2px 4px 4px yellow;
    text-decoration: underline;
}
img{
   object-fit: contain;
}
.card-bg{
    background-color: rgb(174, 184, 86);
}
h2{
    color: black;
}
/*about*/
#para {
  text-align: center;
  font-size: 20px;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 178);
}
#two {
  background-color: rgb(33, 31, 31);
}
#three {
  background-color: rgb(225, 48, 108);
}
#buttons {
  margin-bottom: 10px;
}
.navTitle {
  color: #ffffff;
  padding-left: 50px;
  size: 50px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 2%;
}
.card{
    overflow: clip;
}


.card img:hover{
    transform:scale(1.1);
    transition:all 0.3s ease-out;
}

@media only screen and (max-width: 600px) {
  .display-3 {
    font-size: 4rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 2rem;
  }
  .navTitle {
    padding-left: 3px;
  }
}

.darkmode-btn{
  border: none;
  border-radius: 12px;
  background-color: #f65c00;
  color: #200e14;
}

