body{
    background-image: radial-gradient(blue,violet);
}
.brand1{
    font-size:50px;
    font-weight: bolder;
    text-shadow:2px blue;
}
.nav1{
    background-color: black;
}
.topic{
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color: red;
    text-shadow:2px 4px 4px yellow;
    text-decoration: underline;
}
img{
   object-fit: contain;
}
.card-bg{
    background-color: rgb(174, 184, 87);
}
h2{
    color: black;
}
/*about*/
#para {
  text-align: center;
  font-size: 30px;
  color: black;
}
body {
  background-color: white;
  font-family: "Righteous", cursive;
  font-weight: bold;
}
h1 {
  color: black;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  line-height: 14pt;
}
#one {
  background-color: rgb(40, 103, 179);
}
#two {
  background-color: rgb(33, 31, 32);
}
#three {
  background-color: rgb(225, 48, 110);
}
#buttons {
  margin-bottom: 20px;
}
.navTitle {
  color: #ffffff;
  padding-left: 60px;
  size: 60px;
}
.row1{
    margin-top: 6%;
}
.itemNav {
  padding: 15px;
}
.about-title {
  padding-top: 3%;
}
.card{
    overflow: clip;
}


.card img:hover{
    transform:scale(1.1);
    transition:all 0.3s ease-out;
}

@media only screen and (max-width: 800px) {
  .display-3 {
    font-size: 5rem;
  }
  .lead {
    font-size: 1.6rem;
  }
  .gallery-head {
    font-size: 3rem;
  }
  .navTitle {
    padding-left: 3px;
  }
